@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
*{
    overflow: hidden;
}



body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(#00000034, #000000b9), url(back.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

.paper {
  background-image: url(paper.png);
  background-size: cover;
  padding: 20px 100px;
  border: 0.5px solid #000000;
  transform: rotateZ(-5deg);
  box-shadow: 1px 15px 20px 0px rgba(0,0,0,0.5);
  
  position: absolute;
}

.paper.heart {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 50%;
}

.paper.image {
  padding: 10px;
}
.paper.image p {
  font-size: 30px;
}

img {
  max-height: 200px;
  width: 100%;
  user-select: none;
}

.paper.red {
/*   filter: hue-rotate(90deg); */
}
.paper:nth-of-type(3n) {
  background-position: left top;
}
.paper:nth-of-type(3n) {
/*   filter: hue-rotate(200deg); */
}

p {
  font-family: 'Zeyada';
  font-size: 50px;
  font-weight: 600;
  color: rgb(0,0,100);
  opacity: 0.75;
  user-select: none;
}